*~
bbdb
.emms-cache
.emacs.before_ecb_2.40__1
.emacs.before_ecb_2.40
.emacs.bmk
.emacs.desktop
.emacs.frequencies
.emacs-places
.emms-cache
.gnus.el
*.gz
*.zip
*.bz2
.emacs.d/games/
.emacs.d/history*
.emacs.d/image-dired/
.emacs.d/my-jabber-config.el
.emacs.d/my-org-mode-config.el
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/.org-id-locations

